@import "/src/variables";
@import "/src/mixins";

.sponsors {
    h2 {
        margin: 32px 0 0 16px;
        color: $secondary-color;
    }
}

.sponsorlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px 32px;
    padding: 0;

    li {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .img {
        display: flex;
        align-items: center;
        min-height: 50%;
        padding: 8px;
        border: 3px solid currentColor;
        border-radius: 12px;

        img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }

    a {
        text-decoration: none;
    }

    p {
        margin: 8px 0 0 0;
        text-align: center;
    }

    [data-type="organisation"] > * {
        color: $tu-color;
    }

    [data-type="primary"] > * {
        color: $primary-color;
    }

    [data-type="secondary"] > * {
        color: $secondary-color;
    }
}

@include breakpoint(sm) {
    .sponsorlist li {
        width: 50%;
    }
}

@include breakpoint(md) {
    .sponsorlist li {
        width: 33%;
    }
}

@include breakpoint(lg) {
    .sponsorlist li {
        width: 20%;
    }
}

@include breakpoint(xl) {
    .sponsorlist li {
        width: 16.6%;
    }
}
